html{
    
    overflow-y: hidden;
}

body{   
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    overflow-x: hidden;
    background-color: rgb(234,234, 235);    
}

ul li a{
    text-decoration: none;
}

.container{  
   width: 90%;
   margin: 0 auto;
   padding: 0;
   justify-content: center; 
   background-color: white;
}

header{
    height: 17vh;
    display: flex;
    align-items: center;  
    top: 0;
    bottom: 20px;
    background-color: #FFFFFF;
    position: sticky;

}

#header-img{
  margin: 10px 0 0 100px;
}

header ul{
  margin-left: 400px;
}

header ul li{
    list-style: none;
    display: inline;
    padding-right: 40px;
    
}

#intro{ 
    font-family: Ibarra Real Nova;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding-top: 40px;
    width:350px;
    

}

.aside{
    height: 240px;
    width: 300px;
    border-radius: 0px;
    margin: 100px 0 100px 40px;    
}

 
#btn{
    padding: 0 14px 0 11px;
    margin: 0 0 0 35px;
    color: #FFFFFF;
    
}

#click-img{
    margin: 11px 0 0 10px;
}

.about-me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    margin-bottom: 35px;

}

.inside-about{
  width: 40%;
  text-align: left;
  margin-right: 90px;
}

.click{
    display: flex;
    background-color: #203A4C;
    ;
    width: 138px;
    height: 30px;
}

#click-img{
    width: 1px;
}

#btn{
    background-color: #203A4C;
    padding-left: 8%;
    width: 90px;
    height:27px;
    align-self:center;
    text-decoration: none;
    border: none;
    text-align: left;
}

#goto-port{
    padding: 7px 20px;
    border: 2px solid #33323D;
}

.close-to-footer{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    width: 70vw;
    align-items: center;
    margin: auto;
}

#p-close{
     width: 200px;
     height: 120px;
     font-size: 1.5rem;
     font-weight: bolder;
     margin-left: 10px;
     padding-top: 60px;
     
}

#close-btn{
    height: 40px;
    margin-right: 30px;
}

#line{
    width: 30vw;
    height: 10px;
    margin-left: -6px;
    border-bottom: 1px solid #33323D;
    
}

.foot{
    display: flex;
}

footer ul li{
  list-style: none;
  display: inline;
  padding-right: 30px;
  

}

footer ul{
    margin-right: 200px;
}

footer{
    background: #33323D;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

 .footer-img{
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 150px;
    margin-right: 50px;
  
} 

.together{
    display: flex;
}