 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&family=Lora:ital@1&display=swap');



 :root{
  --sat-cyan: #5FB4A2;
  --dark-blue: #203A4C;
  --greyish-db: #33323D;
  --bright-red:  #F43030;
  --vlight-grey:  linear-gradient(0deg, #D7D7D7, #D7D7D7),
  linear-gradient(0deg, #FAFAFA, #FAFAFA);
  --lg-textField: #EAEAEB;
  --font-fam1: 'Ibarra Real Nova';
  --font-fam2:  'Libre Franklin', sans-serif;
  --font-fam3: 'Lora', serif;
  --cont-color: white;
   --lines: 1px solid #33323D;    
 }

 html{
   overflow-y: hidden;
 }


*,
 *::before, 
 *::after{
      box-sizing: border-box;
      border: none;
      list-style: none;
      text-decoration: none;       
 }

 body{
   background-color: rgb(234,234, 235); 
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    overflow-x: hidden;
 }


 .container{
    width: 90%;
    margin: auto;
    background-color: white;
 }


 .navbar{
    background: var(--cont-color);
    height:140px;
    display: flex;
    justify-content: space-around;  
    position: sticky;
    top: 0;
 }

 .navbar img{
    width: 70px;
    height: 70px;
    align-self: center;
    margin-left: -100px;
 }

 .nav-link{
    align-self: center;
    width: 400px;
    margin-right: -150px;
    text-align: right;
 }

.nav-link a{
    padding-right: 30px;
}

.first, .third{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0; 
    height: fit-content; 
}


.first section{
    width: 30%;
    margin: 43px 0 0 0;
    border-top: var(--lines);
    border-bottom: var(--lines);
}


#line1{
    margin-top: 49px;
    border: var(--lines);
}

#line2{
   border: var(--lines);
   margin-top: 194px;
 
}

section button{
    padding: 9px 20px;
    border: 1px solid #33323D;
    margin-left: 25px;
    margin-top: 35px;
}

 .second, .forth{
   display: flex;
   justify-content: space-evenly;
   margin: 80px 0;
}

.second section, .forth section{
   width: 30%;
   border-top: var(--lines);
   border-bottom: var(--lines);
   
} 


.second aside{
   margin-top: 70px; 
}

.third{
   display: flex;
   justify-content: space-evenly;
} 

#line5, #line6{
   border: var(--lines);
}

#line6{
   margin-top: 210px;
}

 .third section h2{
   margin-top: 60px;
} 

#btn{
   margin-left: 0;;
}

.third section{

     width: 30%;
    /* margin: 43px 0 0 0; */
    border-top: var(--lines);
    border-bottom: var(--lines);
}

img{
   width: 432px;
}
.close-to-footer{
   display: flex;
   justify-content: space-evenly;
   height: 200px;
   width: 70vw;
   align-items: center;
   margin: auto;
}

#p-close{
   width: 200px;
   height: 120px;
   font-size: 1.5rem;
   font-weight: bolder;
   margin-left: 10px;
   padding-top: 40px;
   
}

#close-btn{
  height: 40px;
  margin-right: 30px;
}

#line{
  width: 30vw;
  height: 10px;
  margin-left: -6px;
  border-bottom: 1px solid #33323D;
  
}

.foot{
   display: flex;
}

footer ul li{
 list-style: none;
 display: inline;
 padding-right: 30px;
 

}

footer ul{
   margin-right: 200px;
}

footer{
   background: #33323D;
   height: 100px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 40px;
}

.footer-img{
   display: flex;
   justify-content: space-evenly;
   height: 30px;
   width: 150px;
   margin-right: 50px;
 
} 

.together{
   display: flex;
}
